In [1]:
import pandas as pd
df = pd.read_csv("../../combined_file.csv")
df.drop(['definition', 'column_name'], axis=1, inplace=True)

C:\Users\Franc\AppData\Local\Temp\ipykernel_17640\1588949626.py:2: DtypeWarning: Columns (0,1,2,8,9,12,13,15,17,18,19,21,22,23,24,25,28,29) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../../combined_file.csv")

In [2]:
df1 = df[["city", "common_name", "height_M"]]
df1.dropna(subset=["common_name"], inplace=True)
df1["height_M"] = df1["height_M"].fillna(0)
df1 = df1[(df1["height_M"] < 130) & (df1["height_M"] >= 0)]
df1 = df1[df1["common_name"]!="ok to plant vacant"]
df1.head(10)

C:\Users\Franc\AppData\Local\Temp\ipykernel_17640\2223491163.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1.dropna(subset=["common_name"], inplace=True)
C:\Users\Franc\AppData\Local\Temp\ipykernel_17640\2223491163.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["height_M"] = df1["height_M"].fillna(0)

           city  common_name  height_M
0   Albuquerque       Locust    0.0000
1   Albuquerque          Oak    0.0000
2   Albuquerque          Ash    0.0000
4   Albuquerque  Honeylocust   98.4252
5   Albuquerque  Honeylocust  114.8294
6   Albuquerque   Elm hybrid   98.4252
7   Albuquerque   Elm hybrid   82.0210
8   Albuquerque          Ash   49.2126
9   Albuquerque   Elm hybrid   82.0210
10  Albuquerque          Ash   65.6168

In [3]:
df1["city"].unique()

array(['Albuquerque', 'Anaheim', 'Aurora', 'Austin', 'Baltimore',
       'Boston', 'Buffalo', 'Cape Coral', 'Colorado Springs', 'Columbus',
       'Dallas', 'Denver', 'De Soto', 'Newton', 'Baxter', 'Dexter',
       'Van Meter', 'Bayard', 'Earlham', 'Mitchellville', 'Panora',
       'Stuart', 'Milo', 'Adair', 'Hartford', 'Carlisle', 'Monroe',
       'Prairie City', 'Colfax', 'Dallas Center', 'Guthrie Center',
       'Polk City', 'Waukee', 'Runnells', 'Elkhart', 'Granger',
       'Pleasant Hill', 'Oakland Acres', 'Kellogg', 'Woodward', 'Bouton',
       'Union', 'Des Moines', 'Redfield', 'Windsor Heights', 'Sully',
       'Adel', 'Bondurant', 'Coon Rapids', 'Detroit', 'Durham', 'Fresno',
       'Garden Grove', 'Grand Rapids', 'Greensboro', 'Kailua', 'Honolulu',
       'Kaneohe', nan, 'Waipahu', 'Ahuimanu', 'Heeia', 'Houston',
       'Huntington Beach', 'Irvine', 'Knoxville', 'Las Vegas',
       'Los Angeles', 'Louisville', 'Madison', 'Miami', 'Cedarburg',
       'West Bend', 'Milwaukee', 'Glendale', 'Brown Deer',
       'Hales Corners', 'Greenfield', 'Greendale', 'Cudahy', 'West Allis',
       'Wauwatosa', 'Fox Point', 'Oak Creek', 'Shorewood', 'Franklin',
       'West Milwaukee', 'South Milwaukee', 'Whitefish Bay', 'New Berlin',
       'Muskego', 'Wind Lake', 'Watertown', 'Nashville', 'New Orleans',
       'New York', 'Oklahoma City', 'Ontario', 'Orlando', 'Overland Park',
       'Phoenix', 'Pittsburgh', 'Plano', 'Portland', 'Rancho Cucamonga',
       'Richmond', 'Rochester', 'Sacramento', 'San Diego',
       'San Francisco', 'Santa Rosa', 'Seattle', 'Sioux Falls',
       'St. Louis', 'Stockton', 'Tampa', 'Seffner', 'Temple Terrace',
       'Lutz', 'Washington DC'], dtype=object)

In [4]:
result = df1.groupby(['city', 'common_name']).agg({'common_name': 'count', 'height_M': 'mean'})
result = result.rename(columns={'common_name': 'count', 'height_M': 'mean_h'})
result = result.reset_index()
print(result)

           city        common_name  count  mean_h
0         Adair  American basswood      9     0.0
1         Adair       American elm      2     0.0
2         Adair         Amur maple      8     0.0
3         Adair              Apple     16     0.0
4         Adair              Birch      2     0.0
...         ...                ...    ...     ...
13477  Woodward             Spruce      2     0.0
13478  Woodward        Sugar maple      5     0.0
13479  Woodward          White ash      2     0.0
13480  Woodward          White oak      6     0.0
13481  Woodward             Willow      1     0.0

[13482 rows x 4 columns]

In [5]:
# Save into a csv file 
result.to_csv("../datasets/species_city.csv", index=False)