In [1]:
import pandas as pd
df = pd.read_csv("../../combined_file.csv")

C:\Users\Franc\AppData\Local\Temp\ipykernel_5332\3022062480.py:2: DtypeWarning: Columns (0,1,2,8,9,12,13,15,17,18,19,21,22,23,24,25,28,29) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../../combined_file.csv")

In [2]:
df.columns

Index(['most_recent_observation', 'most_recent_observation_type',
       'common_name', 'scientific_name', 'city', 'state',
       'longitude_coordinate', 'latitude_coordinate', 'address', 'condition',
       'height_M', 'native', 'height_binned_M',
       'diameter_breast_height_binned_CM', 'greater_metro', 'city_ID',
       'tree_ID', 'planted_date', 'retired_date', 'location_type', 'zipcode',
       'neighborhood', 'location_name', 'ward', 'district', 'overhead_utility',
       'diameter_breast_height_CM', 'percent_population', 'column_name',
       'definition'],
      dtype='object')

In [5]:
df["state"].unique()

array(['New Mexico', 'California', 'Colorado', 'Texas', 'Maryland',
       'Massachusetts', 'New York', 'Florida', 'Ohio', 'Iowa', 'Michigan',
       'North Carolina', 'Hawaii', 'Tennessee', 'Nevada', 'Kentucky',
       'Wisconsin', 'Louisiana', 'Oklahoma', 'Kansas', 'Arizona',
       'Pennsylvania', 'Oregon', 'Virginia', 'Washington', 'South Dakota',
       'Missouri', 'District of Columbia'], dtype=object)

In [15]:
df = df[["common_name", "state"]].dropna()
df1 = df.groupby(["state"])["common_name"].count().sort_values(ascending=False).reset_index()
df1.columns = ["state", "abundance"]

In [16]:
df1

                   state  abundance
0             California    1638282
1               New York     849220
2               Colorado     356708
3                  Texas     255259
4                 Oregon     216751
5   District of Columbia     175862
6             Washington     164947
7                   Ohio     151350
8              Wisconsin     128106
9                Florida     128032
10              Maryland     120852
11             Louisiana     105813
12              Michigan      92894
13              Missouri      83536
14          South Dakota      62647
15          Pennsylvania      45427
16                Kansas      44767
17                Nevada      32786
18              Kentucky      32711
19        North Carolina      22595
20                  Iowa      15805
21                Hawaii      15179
22             Tennessee      12059
23              Oklahoma      10000
24            New Mexico       2502
25              Virginia       1816
26         Massachusetts       1333
27               Arizona        212

In [17]:
df1.to_csv("../datasets/abundance_states.csv", index=False)