In [1]:
import pandas as pd
df = pd.read_csv("../../combined_file.csv")
df = df[df["common_name"] != "ok to plant vacant"]

C:\Users\Franc\AppData\Local\Temp\ipykernel_5752\3877153638.py:2: DtypeWarning: Columns (0,1,2,8,9,12,13,15,17,18,19,21,22,23,24,25,28,29) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../../combined_file.csv")

In [2]:
df.columns

Index(['most_recent_observation', 'most_recent_observation_type',
       'common_name', 'scientific_name', 'city', 'state',
       'longitude_coordinate', 'latitude_coordinate', 'address', 'condition',
       'height_M', 'native', 'height_binned_M',
       'diameter_breast_height_binned_CM', 'greater_metro', 'city_ID',
       'tree_ID', 'planted_date', 'retired_date', 'location_type', 'zipcode',
       'neighborhood', 'location_name', 'ward', 'district', 'overhead_utility',
       'diameter_breast_height_CM', 'percent_population', 'column_name',
       'definition'],
      dtype='object')

In [3]:
df.zipcode.nunique()

420

In [4]:
top10_df = df.groupby(["common_name"])["common_name"].count().sort_values(ascending=False).head(5)

print("Total trees: " + str(top10_df.sum()))
top10_df

Total trees: 606935

common_name
Norway maple        142560
London planetree    122493
Red maple           121825
Crape myrtle        121775
Green ash            98282
Name: common_name, dtype: int64

In [5]:
top10 = top10_df.index.to_list()
top10

['Norway maple', 'London planetree', 'Red maple', 'Crape myrtle', 'Green ash']

In [6]:
df1 = df.copy()
df1 = df1[["common_name", "latitude_coordinate", "longitude_coordinate"]]
df1 = df1[df1["common_name"].isin(top10)]
df1 = df1.dropna()

In [7]:
df1.head(3)

    common_name  latitude_coordinate  longitude_coordinate
105   Green ash            35.109380           -106.713241
109   Green ash            35.109367           -106.713055
112   Green ash            35.109380           -106.713009

In [8]:
len(df1)

567507

In [9]:
df1.to_csv("../datasets/dot-density2.csv", index=False)

In [10]:
import json
data = df1.copy()

features = []
for index, row in data.iterrows():
    latitude = row['latitude_coordinate']
    longitude = row['longitude_coordinate']
    name = row['common_name']

    feature = {
        'type': 'Feature',
        'properties': {'name': name},
        'geometry': {
            'type': 'Point',
            'coordinates': [float(longitude), float(latitude)]
        }
    }
    features.append(feature)

geojson = {
'type': 'FeatureCollection',
'features': features
}

with open('../datasets/dot-density2.geojson', 'w') as f:
    json.dump(geojson, f)

""

''